
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 10rem;
  background-color: #0000005d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  box-shadow: 0 6px 6px #000000ca ;
  z-index: 10;
}

.logo{
  color: var(--color-accent);
  width: 13rem;
  text-decoration: none;
  font-weight: 600;
  font-family: 'Goldman', sans-serif;
}

.navbar a {
  position: relative;
  color: var(--color-accent);
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: 600;
  padding: 5px 0;
  margin: 0 15px;
}

.navbar a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--color-accent);
  bottom: 0;
  left: 50%;
  transition: all 0.3s ease;
}

.navbar a:hover::after, .navbar a.active::after{
  width: 100%;
  left: 0;
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--color-accent);
  cursor: pointer;
  display: none;
}

@media (max-width: 1080px) {
  #menu-icon {
    display: block;
  }

  header {
    padding: 2rem 3rem;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: -100%;
    width: 100%;
    padding: 0 3rem;
    transition: left .25s ease;
  }

  .navbar a {
    display: block;
    font-size: 1.8rem;
    margin: 3rem 0;
  }

  .nav-bg {
    position: fixed;
    top: 8rem;
    left: -100%;
    width: 100%;
    height: 427.2px;
    background-color: #0000005d;
    backdrop-filter: blur(10px);
    box-shadow: 0 6px 6px #000000ca;
    z-index: 2;
    transition: left .25s ease;
  }

  .navbar.active, .nav-bg.active {
    left: 0;
  }
}