.resume {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  gap: 0;
  background-color: #031e23;
  padding-bottom: 16rem;
}

.resume::before {
  content: "";
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: 
    linear-gradient(
      to top, 
      rgba(3, 30, 35, 1) 0%,
      rgba(3, 30, 35, 0.9) 40%,
      rgba(3, 30, 35, 0) 100%
    );
  opacity: 100%;
  z-index: 1;
}

.resume-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 3rem;
}

.resume-title {
  display: flex;
  margin: 0 0 2rem 3rem;
  align-items: flex-end;
  min-height: 64px;
}

.education, .work-experience, .org-experience {
  min-width: 33%;
}

.education-content, .work-experience-content, .org-experience-content {
  position: relative;
  padding-left: 1rem;
  border-left: 2px solid var(--color-glow);
}

.education-box::before, .work-experience-box::before, .org-experience-box::before {
  content: "";
  position: absolute;
  top: -.3rem;
  left: -4.3rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--color-glow);
}

.education-box, .work-experience-box, .org-experience-box {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 2rem;
  padding: 1rem 2rem;
  border: 3px solid var(--color-glow);
  border-radius: 10px;
  min-height: 250px;
  transition: min-height .5s ease;
}

.education-box.expanded,
.work-experience-box.expanded,
.org-experience-box.expanded {
  min-height: 480px;
}

.timestamp {
  margin: 1rem 0;
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--color-glow);
}

.education-title, .work-experience-title, .org-experience-title {
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: var(--color-accent);
  min-height: 54px;
  margin-bottom: 1rem;
}

.education-institution, .work-experience-company, .org-experience-name {
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--color-accent);
}

.education-detail,
.work-experience-detail,
.org-experience-detail {
  margin: 1.5rem 0;
  font-size: 1.6rem;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height .5s ease, opacity .5s ease;
}

.education-detail.shown,
.work-experience-detail.shown,
.org-experience-detail.shown {
  max-height: 240px;
  opacity: 1;
}

.btn.show-details {
  margin: auto 0 1rem;
  align-self: flex-end;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  background-color: transparent;
  color: var(--color-text-light);
}