.skills {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--color-bg);
}

.skills::before {
  content: "";
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: 
    linear-gradient(
      to top, 
      rgba(0, 16, 16, 1) 0%,
      rgba(0, 16, 16, 0.9) 40%,
      rgba(0, 16, 16, 0) 100%
    );
  opacity: 100%;
}

.skill-list {
  position: relative;
  white-space: nowrap;
} 

.skill-slide {
  display: inline-block;
  white-space: nowrap;
  user-select: none;
  width: max-content;
  animation: slide 44s infinite linear;
  margin-bottom: 3rem;
}

@keyframes slide {
  from { transform: translateX(50%); }
  to   { transform: translateX(-50%); }
}

.skill-slide span {
  color: var(--color-text);
  font-weight: 600;
  font-size: 2rem;
  margin: 0 2rem;
  text-shadow: 
    0 0 10px var(--color-glow), 
    0 0 20px var(--color-glow),
    0 0 40px var(--color-glow)
  ;
}

.card-skill-content, .card-cert-content {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  margin: 4rem 0 4rem;
}

.card-skill-header {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 350px;
  min-width: 250px;
  height: 478px;
  border-radius: 25px;
  padding: 3rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 7px solid transparent;
  background: 
    linear-gradient(#001010, #001010) padding-box, 
    linear-gradient(135deg,rgba(246, 223, 142, 1) 20%, rgba(0, 255, 221, 1) 100%) border-box;
}

.card-skill-list-scroll {
  position: relative;
  overflow: hidden;
}

.card-skill-list-scroll::after {
  content: "";
  position: absolute;
  top: 32px;
  right: 0;
  width: 8px;
  height: 420px;
  border-radius: 8px;
  background: linear-gradient(to bottom,rgba(246, 223, 142, 1) 20%, rgba(0, 255, 221, 1) 100%);
  box-shadow: -1rem 0 3rem 2rem var(--color-bg);
}

.card-skill-list {
  background-color: transparent;
  display: flex;
  padding: 4rem 0 2.8rem 2.5rem;
  max-width: 968px;
  overflow-x: auto;
}

.card-skill-list::-webkit-scrollbar {
  height: 8px;
}

.card-skill-list::-webkit-scrollbar-thumb {
  background-color: var(--color-glow);
  border-radius: 10px;
}

.card-skill-list::-webkit-scrollbar-track {
  background-color: var(--color-muted);
  margin: 0 1.5rem 0 2.5rem;
  border-radius: 10px;
}

.card-cert-list::-webkit-scrollbar-track {
  background-color: var(--color-muted);
  margin: 0 2.5rem 0 1.5rem;
  border-radius: 10px;
}

.card-skill{
  display: flex;
  position: relative;
  height: 399px;
  border-radius: 30px;
  flex-shrink: 0;  
  background: transparent;
  box-shadow: -1rem 0 3rem 2rem var(--color-bg);
  user-select: none;
  transition: .2s;
}

.card-skill:hover {
  transform: translateY(-2rem);
}

.card-skill:hover~.card-skill {
  transform: translateX(145px);
}

.card-skill:not(:first-child) {
  margin-left: -140px;
}

.card-skill img {
  width: 285px;
  height: 399px;
  cursor: pointer;
}

.card-cert-header {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 350px;
  min-width: 250px;
  height: 478px;
  border-radius: 25px;
  padding: 3rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 7px solid transparent;
  background: 
    linear-gradient(#001010, #001010) padding-box, 
    linear-gradient(225deg,rgba(246, 223, 142, 1) 20%, rgba(0, 255, 221, 1) 100%) border-box;
}

.card-cert-list-scroll {
  position: relative;
  overflow: hidden;
}

.card-cert-list-scroll::after {
  content: "";
  position: absolute;
  top: 32px;
  left: 0;
  width: 8px;
  height: 420px;
  border-radius: 8px;
  background: linear-gradient(to bottom,rgba(246, 223, 142, 1) 20%, rgba(0, 255, 221, 1) 100%);
  box-shadow: -1rem 0 3rem 2rem var(--color-bg);
}

.card-cert-list {
  background-color: transparent;
  display: flex;
  padding: 4rem 2.8rem 2.5rem 0;
  max-width: 968px;
  overflow-x: auto;
}

.card-cert-list::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.card-cert-list::-webkit-scrollbar-thumb {
  background-color: var(--color-glow);
  border-radius: 10px;
}

.card-cert-list::-webkit-scrollbar-track {
  background-color: var(--color-muted);
  margin-right: 2.5rem;
  border-radius: 10px;
}

.card-cert{
  display: flex;
  position: relative;
  height: 399px;
  border-radius: 30px;
  flex-shrink: 0;  
  background: transparent;
  box-shadow: -1rem 0 3rem var(--color-bg);
  user-select: none;
  transition: .2s;
}

.card-cert:hover {
  transform: translateY(-2rem);
}

.card-cert:hover~.card-cert {
  transform: translateX(371px);
}

.card-cert:not(:first-child) {
  margin-left: -368px;
}

.card-cert img {
  width: 636px;
  height: 399px;
  border-radius: 10px;
  cursor: pointer;
}

.overlay {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.no-scroll {
  overflow: hidden !important;
}

@media (max-width: 750px) {
  .card-skill-content, .card-cert-content {
    display: flex;
    flex-direction: column;
  }

  .card-skill-header, .card-cert-header {
    width: 100%;
    height: 100%;
  }

  .card-cert-header {
    order: 1;
  }

  .card-cert-list-scroll {
    order: 2;
  }

  .card-skill-list-scroll::after, .card-cert-list-scroll::after {
    top: 16px;
  }

  .card-skill-list-scroll::before {
    content: "";
    position: absolute;
    top: 16px;
    left: 0;
    width: 8px;
    height: 420px;
    border-radius: 8px;
    background: linear-gradient(to bottom,rgba(246, 223, 142, 1) 20%, rgba(0, 255, 221, 1) 100%);
    box-shadow: 1rem 0 3rem 2rem var(--color-bg);
    z-index: 1;
  }
  
  .card-cert-list-scroll::before {
    content: "";
    position: absolute;
    top: 16px;
    right: 0;
    width: 8px;
    height: 420px;
    border-radius: 8px;
    background: linear-gradient(to bottom,rgba(246, 223, 142, 1) 20%, rgba(0, 255, 221, 1) 100%);
    box-shadow: 1rem 0 3rem 2rem var(--color-bg);
    z-index: 1;
  }
  
  .card-skill-list, .card-cert-list {
    padding: 2.5rem 0 2.5rem;
  }

  .card-skill:hover, .card-skill:hover~.card-skill, .card-skill:not(:first-child), 
  .card-cert:hover, .card-cert:hover~.card-cert, .card-cert:not(:first-child) {
    transform: none !important;
    margin-left: none !important;
  }

  .card-skill-list::-webkit-scrollbar-track, .card-cert-list::-webkit-scrollbar-track {
    margin: 0 1.5rem;
  }
}